.filters-group-container {
  margin-top: 16px;
}

@media screen and (min-width: 768px) {
  .filters-group-container {
    width: 30%;
    max-width: 350px;
    margin-top: 48px;
    flex-shrink: 0;
  }
}
.searchbar-holder {
  background-color: #f1f5f9;
  display: flex;
  align-items: center;
  width: 210px;
  height: 30px;
  border-radius: 5px;
  padding-left: 10px;
}
.search-bar {
  background-color: #f1f5f9;
  border: solid #f1f5f9 0px;
}
.category-btn {
  background-color: transparent;
  border: 0px;
}
.add-color {
  color: #0967d2;
}
.category-list {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.rating-holder {
  background-color: transparent;
  border: 0px;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.rating-image {
  width: 200px;
  height: 33px;
}

.clear-btn {
  border-color: #0967d2;
  color: #0967d2;
  background-color: transparent;
  padding: 7px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 30px;
}
